<h1>Messages Inbox</h1>

<table>
  <caption class="leader_board_caption">Received Messages</caption>
  <thead>

    <tr>
      <th>Message Sender</th>
      <th>Subject</th>
      <th>Body</th>
    </tr>

  </thead>

  <tbody>
    <% current_user.received_messages.each do |message| %>
    <td> (<%= current_user.received_messages.count %>) </td> <!-- here should go message sender instead of received_messages.count -->
    <td><%=  link_to message.title, user_message_path(user_id: message.recipient_id, id: message.id) %></td>
      <td> <%= message.body %> </td>

      <% end %></th>
    </tbody>
  </table>
<!-- below here is new table for sent messages -->
<table>
  <caption class="leader_board_caption">Sent Messages</caption>
  <thead>

    <tr>
      <th>Message Recipient</th>
      <th>Subject</th>
      <th>Body</th>
    </tr>

  </thead>

  <tbody>
    <% current_user.sent_messages.each do |message| %>
    <td> (<%= current_user.sent_messages.count %>) </td> <!-- here should go message recipient -->
    <td><%=  link_to message.title, user_message_path(user_id: message.sender_id, id: message.id) %> </td>
      <td> <%= message.body %> </td>

      <% end %></th>
    </tbody>
  </table>

<%= link_to "Send a Message", new_user_message_path, class: 'game_page_link' %> </br>
<%= link_to "Back to Play", games_index_path, class: 'game_page_link'%> </br>
<%= link_to "Sign-Out", destroy_user_session_path, :method => :delete, class: 'game_page_link' %>

