<div class="image_container">

<div class="page_content_container">

  <h1 class="page_banner banner_content"><%= link_to "ROAD TRIP", root_path, class: 'banner_content' %></h1>

    <div class="question_container">
      <div id="question_box" hidden>

        <h2><%= list_capital_question(@state) %></h2>

          <div class="jquery_option_selections"></div>
            <div class="option_selections">
              <% num = 1 %>
              <% display_answer_options(@capital).each do |x| %>
                <% if x == @capital %>
                  <button class="answer"><%= x %></button>
                <% else %>
                  <button class=<%="option" + num.to_s %>><%= x %></button>
                  <% num += 1 %>
                <% end %>
              <% end %>
            </div>

            <p id="responseToGuess"></p>
            <p id="pointsEarned"></p>
            <button id="continueOn" hidden>Continue</button>
          </div>
        </div>
      </div>
  <div class="car_route">
    <%= image_tag "TrucksterTransparent.png", id: "car" %><br/>
  </div>

  <div class="footer">
    <button id="start_button">Start Trip</button>

    <% if current_user %>
      <%= link_to "Sign-Out", destroy_user_session_path, :method => :delete, class: 'game_page_link', id: 'leader_board_link' %>
    <% else %>
      <%= link_to "Log-In", new_user_session_path, class: 'game_page_link', id: 'leader_board_link' %>
      <%= link_to "Register", new_user_registration_path, class: 'game_page_link', id: 'register_link' %>
    <% end %>

    <%= link_to "Leaderboard", scores_index_path, class: 'game_page_link', id: 'leader_board_link' %>
    <% if user_signed_in? %>
      <div class="game_page_signed_in_notice">Currently signed in as: <%= current_user.username %></div>
    <% end %>
  </div>

</div> <!--image_container closing -->

</div> <!--page_content_container closing -->
