<div class="image_container">
  <h1 class="page_banner banner_content">Roadtrip</h1>

  <div class="question_container">
    <div id="question_box" hidden>

      <h2><%= list_capital_question(@state) %></h2>
      <% num = 1 %>
      <% display_answer_options(@capital).each do |x| %>
        <% if x == @capital %>
          <button class="answer"><%= x %></button>
        <% else %>
          <button class=<%= "option" + num.to_s %>><%= x %></button>
          <% num += 1 %>
        <% end %>
      <% end %>

      <p id="responseToGuess"></p>
      <p id="pointsEarned"></p>
      <button id="continueOn" hidden>Continue</button>


    </div>
  </div>

  <div class="car_route">
    <%= image_tag "TrucksterTransparent.png", id: "car" %><br/>
  </div>

  <div class="footer">
    <button id="start_button">Start Trip</button>
    <%= link_to "Leader Board", scores_index_path, class: 'game_page_link', id: 'leader_board_link' %>
    <%= link_to "Sign-Out", destroy_user_session_path, :method => :delete, class: 'game_page_link', id: 'sign_out_link' %>
    <%= render 'layouts/signin_status' %>
  </div>

</div>


