<h1>Games#index</h1>
<div class="image_container">

  <div class="question_container">
    <div id="question_box" hidden>
<!--       <button id="correct_answer">Correct Answer</button>
 -->
      <h2><%= list_capital_question(@state) %></h2>
      <% num = 1 %>
      <% display_answer_options(@capital).each do |x| %>
        <% if x == @capital %>
          <button class="answer"><%= x %></button>
        <% else %>
          <button class=<%= "option" + num.to_s %>><%= x %></button>
          <% num += 1 %>
        <% end %>
      <% end %>

      <p id="responseToGuess"></p>
      <p id="pointsEarned"></p>
      <button id="continueOn" hidden>Continue</button>


    </div>
  </div>

  <div class="car_route">
    <%= image_tag "Truckster.jpg", id: "car" %><br/>
  </div>

</div>

<button id="start_button">Start Trip</button><br/><!--Button to move car to middle of screen-->

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>

<%= link_to "Leader Board", scores_index_path %>

